.content
  .mainview
    .slider
      .highquality
        %h1 high quality
        %h2 software design
      .software.t1.none
        .box
          %h1 
            software development
          .text
            %span
              do you have an idea? let us help you to get outside the box!
            %br
            we transform your idea into a fully functunial web and mobile aplication design to fit
            %br
            your personal need.
      .web.t1.none
        .box
          %h1 web design
          .text
            %span
              Cutting edge design for your own place
            %br
            we work to develop unique and fresh web sites that are easy for the user to understand
            and navigate.
            %br
            Wheter is creating a new page from scratch or to makeover and existing one, our goal is to
            connect you with your audience like never before.
      .contentman.t1.none
        .box
          %h1  content managment
          .text
            %span
              You dont need the IT guy to help you with your content
            %br
            Change your digital content easly without any risks, from text documents to multimedia
            files.
      .continuum.t1.none
        .box
          %h1 continuum support
          .text
            %span
              we won't leave you alone at the end of road
            %br
            Support and maintence to all our final products guaranteed.
  .descriptions
    %ul
      %li.first
        .sd
        %p software development
      %li.second
        .wd
        %p web design
      %li.third
        .cm
        %p content management
      %li.last
        .cs
        %p continuum suport
      .clear
