.content
  .mainview
    .slider
      .highquality
        %h1 high quality
        %h2 software design
      .software.t1
        %h1 
          software development
        .text
          %span
            do you have an idea? let us help you to get outside the box!
          %br
          we transform your idea into a fully functunial web and mobile aplication design to fit
          %br
          your personal need.
      .web.t1
        %h1 Cutting edge design for your very own place
        .text
          we work to develop unique and fresh web sites that are easy for the user to understand
          and navigate.
      .content.t1
        %h1  content managment
        .text
          You dont need the IT guy to help you with your content
          Change your digital content easly without any risks, from text documents to multimedia
          files.
      .continuum.t1
        %h1 continuum support
        .text
          we won't leave you alone at the end of road
          Support and maintence to all our final products guaranteed.
  .descriptions
    %ul
      %li.first
        .sd
        %p software development
      %li
        .wd
        %p web design
      %li
        .cm
        %p content management
      %li.last
        .cs
        %p continuum suport
      .clear
