.content 
  .mainview
    %h1 High quality
    %h2 software design
  .descriptions
    %ul
      %li.sd
        %p software development
      %li.wd
        %p web design
      %li.cm
        %p content management
      %li.cs
        %p continuum suport
      .clear
