.content
  .mainview
    %p.pplt1 made of jade
    %p.pplt2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  .pplcontent
    .team.pplcontainers
      %ul
        %li.erik
          = image_tag("erik.png")
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        %li.huascar
          = image_tag("huascar.png")
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    .tools.pplcontainers
      %table
        %tbody
          %tr
            %td.tds
            %td.tds
            %td.tds
            %td.tds
            %td.tds
          %tr
            %td.tds
            %td.tds
            %td.tds
            %td.tds
            %td.tds
          %tr
            %td.tds
            %td.tds
            %td.tds
            %td.tds
            %td.tds
    .clear
