body {
  background-color: #BDBDBD;
  .maindiv {
    width: 960px;
    height: 520px;
    padding: 0px;
    margin:0 auto;
    .header {
      background-color: white;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 97px;
      z-index: 1000;
      .bar {
        width: 935px;
        margin: 0 auto;
        .logo {
          display: inline-block;
        }
        .links{
          float: right;
          margin-top: 8px;
          .top-links{
            .languages{
              display: inline-block;
              margin-top: 7px;
              margin-left: 5px;
              a:hover {
                color: #00A632;
              }
              .languageen{
                float:left;
                text-decoration: none;
                margin-right:4px;
              }
              .languagees{
                text-decoration: none;
              }
            }
            ul{
              display: inline-block;
              float:right;
              li{
              display: inline-block;
              float:left;
              margin:0px 7px;
              }
            }
          }
          .menu{
            margin-top: 7px;
            ul{
              float:right;
              li{
                display: inline-block;
                a{
                  display: inline-block;
                  padding: 8px 18px;
                  margin: 6px 5px;
                  text-decoration: none;
                  background-color: gray;
                  color: white;
                  &:hover {
                    background-color: #00A632;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer {
      margin-left: 9px;
      line-height: 22px;
      color: white;
      margin-bottom: 5px;
      h1 {
        font-size: 18px;
      }
      ul {
        li {
          font-size: 14px;
        }
      }
      .codigo {
        background-color: #00A632;
        float: left;
        width: 130px;
        height: 102px;
        margin-right: 3px;
        padding-left: 30px;
        padding-top: 8px;
      }
      .social {
        background-color: #00A632;
        float: left;
        padding-left: 30px;
        width: 130px;
        height: 102px;
        margin-right: 3px;
        padding-top: 8px;
      }
      .blog {
        background-color: #00A632;
        float: left;
        width: 600px;
        height: 102px;
        padding-top: 8px;
        padding-left: 10px;
        span {
          float: right;
          font-size: 12px;
          padding-right: 20px;
        }
      }
    }
  }
}
