body.services {
  font-family: "Helvetica Neue",Arial,sans-serif !important;
  background-color: #BDBDBD;
  .maindiv {
    height: 520px;
    padding: 0px;
    margin:0 auto;
    .header {
      background-color: white;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 97px;
      z-index: 1000;
      .bar {
        width: 935px;
        margin: 0 auto;
        .logo {
          display: inline-block;
        }
        .links{
          float: right;
          margin-top: 8px;
          .top-links{
            .languages{
              display: inline-block;
              margin-top: 7px;
              margin-left: 5px;
              a:hover {
                color: #00A632;
              }
              .languageen{
                float:left;
                text-decoration: none;
                margin-right:4px;
              }
              .languagees{
                text-decoration: none;
              }
            }
            ul{
              display: inline-block;
              float:right;
              li{
              display: inline-block;
              float:left;
              margin:0px 7px;
              }
            }
          }
          .menu{
            margin-top: 7px;
            ul{
              float:right;
              li{
                display: inline-block;
                a{
                  display: inline-block;
                  padding: 8px 18px;
                  margin: 6px 5px;
                  text-decoration: none;
                  background-color: gray;
                  color: white;
                  &:hover {
                    background-color: #00A632;
                  }
                }
              }
            }
          }
        }
      }
    }
    .content{
      padding-top: 100px;
      margin-left: 9px;
      .mainview{
      background-color: gray;
      width:935px;
      height:210px;
      border-top: 10px solid #BDBDBD;
      border-bottom: 10px solid #BDBDBD;
      overflow: hidden;
      position: relative;
        .slider {
        height: 210px;
        width: 910px;
        position: absolute;
        padding-left: 25px;
          h1 {
            color: white;
            margin-top: 30px;
            font-size: 45px;
          }
          .text {
            line-height: 21px;
            color: white;
            padding-top: 8px;
            span {
              font-style: italic;
              display: inline-block;
              padding-bottom: 5px;
            }
          }
          .highquality {
            h1 {
              color: white;
              font-size:88px;
              margin: 0 auto;
              display: table;
            }
            h2 {
              color: white;
              font-size: 57px;
              letter-spacing: 5px;
              margin: 8px auto;
              display: table;
            }
          }
          .t1 {
            height: 210px;
            width: 935px;
            float: left;
          }
          .box {
            width: 650px;
          }
          .software {
            background: gray url('software.png') no-repeat 683px 0;
          }
          .web {
            background: gray url('web.png') no-repeat 679px 0;
          }
          .contentman {
            background: gray url('contentman.png') no-repeat 680px 0;
          }
          .continuum {
            background: gray url('continuum.png') no-repeat 681px 0;
          }
        }
      }
      .descriptions{
        width: 935px;
        position:relative;
        ul{
          position:relative;
          li {
            position: relative;
            display: inline-block;
            border: 10px solid #BDBDBD;
            border-top: 0px;
            border-right: 0px;
            width: 226px;
            height: 163px;
            padding-top: 30px;
            float: left;
            background-color: white;
            cursor: pointer;
              &.first {
                border-left: 0px;
              }
              &:hover {
                background-color: #00A632;
                .sd {
                  background: #00A632 url(basepng.png) no-repeat -138px -245px;
                }
                .wd {
                  background: #00A632 url(basepng.png) no-repeat -261px -245px;
                }
                .cm {
                  background: #00A632 url(basepng.png) no-repeat 0px -245px;
                }
                .cs {
                  background: #00A632 url(basepng.png) no-repeat -396px -245px;
                }
              }
             .sd{
              background: white url(basepng.png) no-repeat -138px -100px;
              margin: 0 auto;
              width: 121px;
              height: 132px;
            }
             .wd{
              margin: 0 auto;
              background: white url(basepng.png) no-repeat -261px -100px;
              width: 132px;
              height: 132px;
            }
             .cm{
              background: white url(basepng.png) no-repeat 0px -100px;
              width: 140px;
              height: 132px;
              margin: 0 auto;
            }
             .cs{
              margin: 0 auto;
              background: white url(basepng.png) no-repeat -396px -100px;
              width: 132px;
              height: 132px;
            }
          }
          p{
            padding-top: 5px;
            text-align: center;
            color: #868686;
            font-size: 18px;
          }
        }
      }
    }
  }
}
.clear{
  clear: both;
}
.none {
  display: none;
}

.block {
  display: block;
}
