// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.services {
  background-color: #BDBDBD;
  .maindiv {
    height: 520px;
    padding: 0px;
    margin:0 auto;
    .header {
      background-color: white;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 97px;
      z-index: 1000;
      .bar {
        width: 935px;
        margin: 0 auto;
        .logo {
          display: inline-block;
        }
        .links{
          float: right;
          margin-top: 8px;
          .top-links{
            .languages{
              display: inline-block;
              margin-top: 7px;
              margin-left: 5px;
              a:hover {
                color: #00A632;
              }
              .languageen{
                float:left;
                text-decoration: none;
                margin-right:4px;
              }
              .languagees{
                text-decoration: none;
              }
            }
            ul{
              display: inline-block;
              float:right;
              li{
              display: inline-block;
              float:left;
              margin:0px 7px;
              }
            }
          }
          .menu{
            margin-top: 7px;
            ul{
              float:right;
              li{
                display: inline-block;
                a{
                  display: inline-block;
                  padding: 8px 18px;
                  margin: 6px 5px;
                  text-decoration: none;
                  background-color: gray;
                  color: white;
                  &:hover {
                    background-color: #00A632;
                  }
                }
              }
            }
          }  
        }
      }
    }
    .content{
      padding-top: 100px;
      margin-left: 9px;
      .mainview{
      background-color: gray;
      width:935px;
      height:210px;
      border-top: 10px solid #BDBDBD;
      border-bottom: 10px solid #BDBDBD;
        h1 {
        color:white;
        font-size:70px;
        position:absolute;
        margin-left:280px;
        margin-top:5px;
        }
        h2 {
        position:absolute;
        color:white;
        font-size:45px;
        margin-left:280px;
        margin-top: 78px;
        letter-spacing: 5px;
        }
      }
      .descriptions{
        width: 935px;
        position:relative;
        ul{
          position:relative;
          li {
            display: inline-block;
            border: 10px solid #BDBDBD;
            border-top: 0px;
            border-right: 0px;
            width: 226px;
            height: 187px;
            float: left;
            &.sd{
              background-image: url(softwaredevelopment.png);
              border: 10px solid #BDBDBD;
              border-top: 0px;
              border-left: 0px;
              border-right: 0px;
            }
            &.wd{
              background-image: url(webdesign.png);
            }
            &.cm{
              background-image: url(contentmanagement.png);
            }
            &.cs{
              background-image: url(continumsuport.png);
              border: 10px solid #BDBDBD;
              border-top: 0px;
              border-right: 0px;
            }
          }  
          p{
            text-align:center;
            margin-top:165px;
            color:white;
            font-size:18px;
          }
        }
      }
    }
  }
}
.clear{
  clear: both;
}
